
\.gradle/

\.idea/

\app/build/

app/app.iml

build/

Vote Monitor.iml

google-services.json

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

/local.properties
/.DS_Store
